# Driver for database connection. Default is jdbc:mysql
driver=jdbc:mysql

# IP address needed for database connection
ip=IP ADRESS

# Port for database connection. Default is 3306
port=3306

# Name of the database
db=DATABASE

# Additional properties for the connection string. Default is NULL
properties=

# Username for database connection
user=USERNAME

# Password for database connection
password=PASSWORD